@media screen and (max-width:800px)  {
    main{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 760px;
    }
    img{
        width: 365px;
        height: 300px;
    }
    .main-section{
        padding: 25px;
    }
    h1, p{
        text-align: center;
    }
    .section{
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-right: 0;
    }
    .follow{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        
    }
   
}